SoftTrans.Service.UI/Service References/CommonService/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2956/CommonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2956/CommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2956/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoftTrans.Service.Entity.Enum" />
      <xsd:import schemaLocation="http://localhost:2956/CommonService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_SelectPage_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPage" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SelectPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPageResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SelectColumns_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectColumns" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SelectColumns_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Fill_InputMessage">
    <wsdl:part name="parameters" element="tns:Fill" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Fill_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="SelectPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/SelectPage" message="tns:ICommonService_SelectPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/SelectPageResponse" message="tns:ICommonService_SelectPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Select" message="tns:ICommonService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/SelectResponse" message="tns:ICommonService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectColumns">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/SelectColumns" message="tns:ICommonService_SelectColumns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/SelectColumnsResponse" message="tns:ICommonService_SelectColumns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Delete" message="tns:ICommonService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/DeleteResponse" message="tns:ICommonService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Update" message="tns:ICommonService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/UpdateResponse" message="tns:ICommonService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Insert" message="tns:ICommonService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/InsertResponse" message="tns:ICommonService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fill">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Fill" message="tns:ICommonService_Fill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/FillResponse" message="tns:ICommonService_Fill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommonService" type="tns:ICommonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectPage">
      <soap:operation soapAction="http://tempuri.org/ICommonService/SelectPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectColumns">
      <soap:operation soapAction="http://tempuri.org/ICommonService/SelectColumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fill">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Fill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="BasicHttpBinding_ICommonService" binding="tns:BasicHttpBinding_ICommonService">
      <soap:address location="http://localhost:2956/CommonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>