SoftTrans.Service.UI/Service References/BaseFileService/BaseFileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BaseFileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2956/BaseFileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2956/BaseFileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2956/BaseFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoftTrans.Service.Entity" />
      <xsd:import schemaLocation="http://localhost:2956/BaseFileService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBaseFileService_Insert_T_baseBalanceExchange_Rate_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_T_baseBalanceExchange_Rate" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Insert_T_baseBalanceExchange_Rate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_T_baseBalanceExchange_RateResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Update_T_baseBalanceExchange_Rate_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_T_baseBalanceExchange_Rate" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Update_T_baseBalanceExchange_Rate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_T_baseBalanceExchange_RateResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Delete_T_baseBalanceExchange_Rate_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_T_baseBalanceExchange_Rate" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Delete_T_baseBalanceExchange_Rate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_T_baseBalanceExchange_RateResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Load_T_baseBalanceExchange_Rate_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_T_baseBalanceExchange_Rate" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Load_T_baseBalanceExchange_Rate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_T_baseBalanceExchange_RateResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_LoadPage_T_baseBalanceExchange_Rate_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadPage_T_baseBalanceExchange_Rate" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_LoadPage_T_baseBalanceExchange_Rate_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadPage_T_baseBalanceExchange_RateResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Insert_Hrm_Country_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Hrm_Country" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Insert_Hrm_Country_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Hrm_CountryResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Update_Hrm_Country_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Hrm_Country" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Update_Hrm_Country_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_Hrm_CountryResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Delete_Hrm_Country_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Hrm_Country" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Delete_Hrm_Country_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Hrm_CountryResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Load_Hrm_Country_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_Hrm_Country" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_Load_Hrm_Country_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_Hrm_CountryResponse" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_LoadPage_Hrm_Country_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadPage_Hrm_Country" />
  </wsdl:message>
  <wsdl:message name="IBaseFileService_LoadPage_Hrm_Country_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadPage_Hrm_CountryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBaseFileService">
    <wsdl:operation name="Insert_T_baseBalanceExchange_Rate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/Insert_T_baseBalanceExchange_Rate" message="tns:IBaseFileService_Insert_T_baseBalanceExchange_Rate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/Insert_T_baseBalanceExchange_RateResponse" message="tns:IBaseFileService_Insert_T_baseBalanceExchange_Rate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_T_baseBalanceExchange_Rate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/Update_T_baseBalanceExchange_Rate" message="tns:IBaseFileService_Update_T_baseBalanceExchange_Rate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/Update_T_baseBalanceExchange_RateResponse" message="tns:IBaseFileService_Update_T_baseBalanceExchange_Rate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_T_baseBalanceExchange_Rate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/Delete_T_baseBalanceExchange_Rate" message="tns:IBaseFileService_Delete_T_baseBalanceExchange_Rate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/Delete_T_baseBalanceExchange_RateResponse" message="tns:IBaseFileService_Delete_T_baseBalanceExchange_Rate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_T_baseBalanceExchange_Rate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/Load_T_baseBalanceExchange_Rate" message="tns:IBaseFileService_Load_T_baseBalanceExchange_Rate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/Load_T_baseBalanceExchange_RateResponse" message="tns:IBaseFileService_Load_T_baseBalanceExchange_Rate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadPage_T_baseBalanceExchange_Rate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/LoadPage_T_baseBalanceExchange_Rate" message="tns:IBaseFileService_LoadPage_T_baseBalanceExchange_Rate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/LoadPage_T_baseBalanceExchange_RateResponse" message="tns:IBaseFileService_LoadPage_T_baseBalanceExchange_Rate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_Hrm_Country">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/Insert_Hrm_Country" message="tns:IBaseFileService_Insert_Hrm_Country_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/Insert_Hrm_CountryResponse" message="tns:IBaseFileService_Insert_Hrm_Country_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Hrm_Country">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/Update_Hrm_Country" message="tns:IBaseFileService_Update_Hrm_Country_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/Update_Hrm_CountryResponse" message="tns:IBaseFileService_Update_Hrm_Country_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Hrm_Country">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/Delete_Hrm_Country" message="tns:IBaseFileService_Delete_Hrm_Country_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/Delete_Hrm_CountryResponse" message="tns:IBaseFileService_Delete_Hrm_Country_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_Hrm_Country">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/Load_Hrm_Country" message="tns:IBaseFileService_Load_Hrm_Country_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/Load_Hrm_CountryResponse" message="tns:IBaseFileService_Load_Hrm_Country_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadPage_Hrm_Country">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseFileService/LoadPage_Hrm_Country" message="tns:IBaseFileService_LoadPage_Hrm_Country_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseFileService/LoadPage_Hrm_CountryResponse" message="tns:IBaseFileService_LoadPage_Hrm_Country_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBaseFileService" type="tns:IBaseFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_T_baseBalanceExchange_Rate">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/Insert_T_baseBalanceExchange_Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_T_baseBalanceExchange_Rate">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/Update_T_baseBalanceExchange_Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_T_baseBalanceExchange_Rate">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/Delete_T_baseBalanceExchange_Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_T_baseBalanceExchange_Rate">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/Load_T_baseBalanceExchange_Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadPage_T_baseBalanceExchange_Rate">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/LoadPage_T_baseBalanceExchange_Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Hrm_Country">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/Insert_Hrm_Country" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Hrm_Country">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/Update_Hrm_Country" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Hrm_Country">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/Delete_Hrm_Country" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_Hrm_Country">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/Load_Hrm_Country" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadPage_Hrm_Country">
      <soap:operation soapAction="http://tempuri.org/IBaseFileService/LoadPage_Hrm_Country" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseFileService">
    <wsdl:port name="BasicHttpBinding_IBaseFileService" binding="tns:BasicHttpBinding_IBaseFileService">
      <soap:address location="http://localhost:2956/BaseFileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>