SoftTrans.Service.UI/Service References/BaseFileService/BaseFileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftTrans.Service.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftTrans.Service.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="T_baseBalanceExchange_Rate">
    <xs:sequence>
      <xs:element name="_x003C_Balance_Currency_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Contract_Currency_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Exchange_Rate_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Modifier_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ModifyDate_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_Rate_Date_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RecordDate_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_Recorder_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RowID_x003E_k__BackingField" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_baseBalanceExchange_Rate" nillable="true" type="tns:T_baseBalanceExchange_Rate" />
  <xs:complexType name="Hrm_Country">
    <xs:sequence>
      <xs:element name="_x003C_CountryDesc_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hrm_Country" nillable="true" type="tns:Hrm_Country" />
</xs:schema>