SoftTrans.Service.UI/Service References/BaseFileService/BaseFileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2956/BaseFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoftTrans.Service.Entity" />
  <xs:import schemaLocation="http://localhost:2956/BaseFileService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Insert_T_baseBalanceExchange_Rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoftTrans.Service.Entity" minOccurs="0" name="entity" nillable="true" type="q1:T_baseBalanceExchange_Rate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_T_baseBalanceExchange_RateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoftTrans.Service.Entity" minOccurs="0" name="Insert_T_baseBalanceExchange_RateResult" nillable="true" type="q2:T_baseBalanceExchange_Rate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_T_baseBalanceExchange_Rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoftTrans.Service.Entity" minOccurs="0" name="entity" nillable="true" type="q3:T_baseBalanceExchange_Rate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_T_baseBalanceExchange_RateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_T_baseBalanceExchange_RateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_T_baseBalanceExchange_Rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyId" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_T_baseBalanceExchange_RateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_T_baseBalanceExchange_RateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_T_baseBalanceExchange_Rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_T_baseBalanceExchange_RateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_T_baseBalanceExchange_RateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPage_T_baseBalanceExchange_Rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aopPara" nillable="true" type="q4:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPage_T_baseBalanceExchange_RateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadPage_T_baseBalanceExchange_RateResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>